<!--accordion avaluacions final etapa-->
<div id="accordion">
        <% pisa_avaluacions.forEach( (ava, idx_ava) => { %>
            <!--Desplegable amb els seus documents-->
            <div class="card">
                <div class="card-header" id="heading<%=idx_ava%>">
                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseAva<%=idx_ava%>" 
                      style="text-decoration: none; border: none; cursor: pointer;">
                     <i class="fa"></i>  <b style="font-size: 90%;"><%=ava.title%></b>
                    </button> 
                </div>
            </div>
            <div id="collapseAva<%=idx_ava%>" class="collapse" data-parent="#accordion" aria-labelledby="heading<%=idx_ava%>">
            <!--list documents--> 
            <% chunk(ava.documents, 2).forEach( (chunk) => { %>
              <div class="row">
              <% chunk.forEach( (doc) => { %>
                <div class="col-md-6 list-group-item list-group-item-hover">
                  <a href="../<%=doc.url%>" target="_blank"  >
                      <img src="../<%=doc.img%>" width="60px" class="fa-pull-left" style="margin-right:10px; box-shadow: 3px 3px gray;"/>
                      <p style="vertical-align: middle;font-size: 90%;"><%=doc.title%></p>
                  </a> 
                </div>
            <% }) %>
            </div>
            <% }) %>
          </div> 
        <% }) %>
        </div>