<nav>
<h1>Consola d'administració de la WEB IAQSE</h1>

<a href="/<%=mountPoint%>/home">Home</a>
<a href="/<%=mountPoint%>/inici">Inici</a>
<a href="/<%=mountPoint%>/personal">Personal</a>
<a href="/<%=mountPoint%>/normativa">Normativa</a>
<a href="/<%=mountPoint%>/ava-diagnostic">Avaluacions diagnòstic</a>
<a href="/<%=mountPoint%>/ava-finaletapa">Avaluacions final etapa</a>
<a href="/<%=mountPoint%>/ava-internacionals">Avaluacions internacionals</a>
<a href="/<%=mountPoint%>/ava-altres">Avaluacions altres</a>
<a href="/<%=mountPoint%>/indicadors">Indicadors</a>
<a href="/<%=mountPoint%>/publicacions">Publicacions</a>
<a href="/<%=mountPoint%>/proves">Proves alliberades</a>
<a href="/<%=mountPoint%>/enllacos">Enllaços</a>
</nav>

<br/>

<a href="/<%=routes.baseurl%>/index.html" target="_blank"> Obrir el site local </a>

<p-toast position="topleft"></p-toast>