<!DOCTYPE html">
<html lang="es">
<head>
    <meta title="webconsole-home" />
    <%- include head.ejs %>
</head>
<body>
    <div id="webconsole-page">

        <%- include header.ejs %>
       
        <h1>HOME</h1>
        <p-panel header="Configuració" :toggleable="true">
            <template #header>
                <span class="p-panel-title">Configuració</span>
                <p-button label="Desar canvis" @click="saveChanges" icon="pi pi-save"></p-button>               
            </template>
            <div v-if="configTable.contents">
                <table>
                    <tr>
                        <td>Nom del webmaster</td>
                        <td>
                            <p-inputtext type="text" v-model="configTable.contents.webmaster"></p-inputtext>
                        </td>
                    </tr>
                </table>
            </div>
        </p-panel>
    </div>

    <%- include footer.ejs %>
    <script>
        requirejs([],
            function () {
 

                var vm = new Vue({
                    el: '#webconsole-page',
                    data: function () {
                        return {
                            configTable: {}
                        }
                    },
                    mounted: function () {
                        var self = this;
                        axios.post("/<%=mountPoint%>/api/gettable", { tableName: 'config/config' }).then(function (res) {
                            self.configTable = res.data;
                        }, function (err) {
                            self.configTable = {};
                            self.$toast.add({ severity: 'error', summary: "No s'ha pogut carregar la taula config/config", detail: 'dfdsfs', life: 3000 });
                            console.log(err);
                        }); 
                    },
                    methods: {
                        saveChanges: function () {
                            var self = this;
                            axios.post("/<%=mountPoint%>/api/settable", { table: self.configTable }).then(function (res) {
                                console.log(res.data);
                                if(res.data && res.data.result) {
                                    self.$toast.add({ severity: 'success', summary: "S'han desat els canvis",  detail: 'dfdsfs', life: 3000 });
                                } else {
                                    self.$toast.add({ severity: 'error', summary: "No s'han pogut desar els canvis", life: 3000 });
                                }
                            }, function (err) {
                                console.log(err);
                                self.$toast.add({ severity: 'error', summary: "No s'han pogut desar els canvis", life: 3000 });
                            });
                        },
                        publish: function () {

                        }
                    }
                }); 
 
            });

    </script>
</body>

</html>