<!DOCTYPE html">
<html lang="es">

<head>
    <meta title="webconsole-personal" />
    <%- include head.ejs %>
</head>

<body>
    <div id="webconsole-page">

        <%- include header.ejs %>
 
        <h1>PERSONAL</h1>
       
                <center>
                    <p-button label="Afegir" @click="addPersonal()" class="p-button-success" icon="pi pi-plus">
                    </p-button>
                </center>

                <br />
 
                    <p-orderlist v-model="personal" listStyle="height:auto" dataKey="id" @reorder="reorder">
                        <template #header>
                            Personal
                        </template>
                        <template #item="slotProps">
                            <p-button icon="pi pi-pencil" class="p-button-success"
                                @click="personalSelected=clone(slotProps.item);verDlgEditPersonal=true;"></p-button>
                         
                            <p-button class="p-button-danger" icon="pi pi-trash"
                                @click="personalSelected=slotProps.item; verDlgEditPersonal=true" title="Esborrar">
                            </p-button>

                            <img :src="'../'+ slotProps.item.img" style="width:60px; vertical-align: middle;" />
                            <i class="pi pi-eye-slash" v-if="slotProps.item.hiden"></i>
                            <i v-if="!slotProps.item.hiden" style="display: inline-block; width: 18px;"></i>
                            {{slotProps.item.nom}}
                        </template>
                    </p-orderlist>

                    <br />

         
        <!------------------------------------   DIALOGS  ---------------------------------------------------------->
    
 
        <p-dialog header="Confirmar esborrar persona" :visible.sync="verDlgDelPersonal" :modal="true">
            <p>Segur que voleu esborrar aquesta persona?</p>
            <p-button label="No" icon="pi pi-times" class="p-button-secondary" @click="verDlgDelPersonal=false">
            </p-button>
            <p-button label="Sí" icon="pi pi-check" class="p-button-danger" @click="esborrarPersonal"></p-button>
        </p-dialog>
 
        <p-dialog header="Editar persona" :visible.sync="verDlgEditPersonal" :modal="true" :maximizable="true">
            <div v-if="personalSelected">
                <br />

                <table class="p-datatable" style="width: 98%;">
                    <thead class="p-datatable-thead">
                        <tr>
                            <th style="width: 20%;">Propietat</th>
                            <th style="width: 80%;">Valor</th>
                        </tr>
                    </thead>
                    <tbody class="p-datatable-tbody">
                        <tr v-if="personalSelected.id">
                            <td colspan="2"><span style="color:gray"><i class="pi pi-key"></i> {{personalSelected.id}}</span></td> 
                        </tr>
                        <tr>
                            <td>Visibilitat</td>
                            <td>   <p-togglebutton v-model="personalSelected.hiden" on-label="Amagat" off-label="Visible"
                                on-icon="pi pi-eye-slash" off-icon="pi pi-eye"></p-togglebutton> </td>
                        </tr>
                        <tr>
                            <td>Nom</td> 
                            <td>
                                <p-inputtext v-model="personalSelected.nom" style="width: 100%;"></p-inputtext>
                            </td>
                        </tr>
                        <tr>
                            <td>Imatge</td>
                            <td>
                                <p-inputtext v-model="personalSelected.img" style="width: 100%;">
                                </p-inputtext>
                            </td>
                        </tr>
                        <tr>
                            <td>Càrrrec</td>
                            <td>
                                <p-inputtext v-model="personalSelected.carrec" style="width: 100%;">
                                </p-inputtext>
                            </td>
                        </tr>
                        <tr>
                            <td>Extensió</td>
                            <td>
                                <p-inputtext v-model="personalSelected.ext" style="width: 100%;">
                                </p-inputtext>
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <p-inputtext v-model="personalSelected.email" style="width: 100%;">
                                </p-inputtext>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />

                <p-button icon="pi pi-times" class="p-button-secondary" @click="verDlgEditPersonal=false; personalSelected=null;"
                    label="Cancel·lar"></p-button>
                <p-button icon="pi pi-tick" class="p-button-primary" @click="confirmEditPersonal" label="Acceptar">
                </p-button>
            </div>
        </p-dialog>
 
        <p-dialog header="Previsualització imatge" :visible.sync="verDlgPreviewImage" :modal="true">
            <img v-if="personalSelected" :src="'../' + personalSelected.img" style="max-width: 600px;" />
            <br />
            <p-button label="Tancar" icon="pi pi-times" class="p-button-secondary" @click="verDlgPreviewImage=false">
            </p-button>
        </p-dialog>
 
        <% include common-dlg.ejs %>
    </div>
    <%- include footer.ejs %>

    <script>
        requirejs(['p_orderlist', 'p_dialog', 'p_textarea', 'p_togglebutton', 'p_dropdown', 'p_tabview', 'p_tabpanel'],
            function (p_orderlist, p_dialog, p_textarea, p_togglebutton, p_dropdown, p_tabview, p_tabpanel) {

                Vue.component('p-tabview', p_tabview);
                Vue.component('p-tabpanel', p_tabpanel);
                Vue.component('p-orderlist', p_orderlist);
                Vue.component('p-dialog', p_dialog);
                Vue.component('p-textarea', p_textarea);
                Vue.component('p-togglebutton', p_togglebutton);
                Vue.component('p-dropdown', p_dropdown);

                var vm = new Vue({
                    el: '#webconsole-page',
                    data: function () {
                        return { 
                            menuModel: menuModelBuilder(),
                            personal: [],
                            personalSelected: null,
                            verDlgConfirmPublicar: false,
                            verDlgGenerant: false,
                            verDlgPublicant: false,
                            verDlgDelPersonal: false,
                            verDlgPreviewImage: false, 
                            verDlgEditPersonal: false
                        }
                    },
                    mounted: function () {
                        db = myjdb('<%=mountPoint%>', this); 
                        db.loadTable('personal'); 
                    },
                    methods: {
                        persist: function () {
                            var self = this;
                            this.verDlgGenerant = true;
                            db.persist().then(function(ok){
                                console.log(ok);
                                self.verDlgGenerant = false;
                                if(ok) {
                                     self.$toast.add({ severity: 'success', summary: "S'han persistit els canvis a disc", life: 3000 });
                                } else {
                                    self.$toast.add({ severity: 'error', summary: "No s'han pogut persistir els canvis a disc"});
                                }
                            }, function(err) {
                                console.log(err);
                                self.verDlgGenerant = false;
                                self.$toast.add({ severity: 'error', summary: "No s'han pogut persistir els canvis a disc"});
                            }); 
                        },
                        publish: function() {
                            var self = this;
                            this.verDlgPublicant = true;
                            axios.post("/<%=mountPoint%>/api/publish").then(function(res) {
                                console.log(res);
                                self.verDlgPublicant = false;
                                if(res.data.result) {
                                    self.$toast.add({ severity: 'success', summary: "S'ha publicat corectament el lloc web"});
                                } else {
                                    self.$toast.add({ severity: 'error', summary: "No s'han pogut publicar el lloc web"});
                                }
                            }, function(err) {
                                self.verDlgPublicant = false;
                                console.log(err);
                                self.$toast.add({ severity: 'error', summary: "No s'han pogut publicar el lloc web"});
                            });
                        }, 
                        addPersonal: function () {
                            this.personalSelected = {
                                img: "img/quisom/xxxxx.jpg",
                                nom: "xxxxx",
                                carrec: "Personal Tècnic",
                                ext: "xxxxx",
                                email: "xxx@iaqse.caib.es"
                            };  
                            this.verDlgEditPersonal = true;
                        },
                        esborrarPersonal: function () {
                            if (!this.personalSelected) {
                                return;
                            } 
                            db.remove('personal', this.personalSelected.id);
                            this.verDlgDelPersonal = false;
                            this.personalSelected = null;
                        },
                        reorder: function(event) {
                            if(window.reorderTimeout) {
                               clearTimeout(window.reorderTimeout);
                            } 
                            window.reorderTimeout = setTimeout(function() {
                                db.sync('personal');
                            }, 2000);
                        },
                        confirmEditPersonal: function () {
                            var self = this;
                            if(this.personalSelected == null) {
                                return;
                            }
                            if(this.personalSelected.id) {
                                // update
                                db.update('personal', this.personalSelected.id, this.personalSelected);
                            } else {
                                // insert
                                db.add(this.personalSelected, 'personal', '/');
                            }
                            this.verDlgEditPersonal = false;
                        }  
                    }
                });

            });

    </script>
</body>

</html>