<div class="row">
    <div class="col-xl-2 d-none d-xl-block">
        <div class="alert alert-primary"><h6><i class="fa fa-compass"></i> Navegació</h6></div>

        <ul id="tree1">
                <% routes.pages.forEach( page => { %>
                    <li><a href="<%=page.url%>.html"><%=page.title%></a>
                        <% if(page.views && page.views.length) { %>
                        <ul>
                            <% page.views.forEach( view => { %>
                                <li><a href="<%=page.url%>.html#!/<%=view.url%>"><%=view.title%></a>
                                    <% if(view.views && view.views.length) { %>
                                        <ul>
                                        <% view.views.forEach( view2 => { %>
                                            <li><a href="<%=page.url%>.html#!/<%=view2.url%>"><%=view2.title%></a>
                                        <% }) %>
                                        </ul>
                                    <% } %>
                                </li>
                            <% }) %>  
                        </ul>
                        <% } %>
                    </li>
                <% }) %> 
            </ul>
    </div> 
    <div class="col-md-6 col-xl-6">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <% inici.carousel.forEach( (item, idx) => { %>
                <li data-target="#carouselIndicators" data-slide-to="<%=idx%>" <% if(idx==0) { %>class="active"<% } %> ></li>
                <% }) %> 
            </ol>
            <div class="carousel-inner">
                <% inici.carousel.forEach( (item, idx) => { %>
                <div class="carousel-item <% if(idx==0) { %>active<% } %>">
                    <img class="d-block w-100" src="../<%=item.img%>" alt="Imatge <%=idx+1%>">
                    <% if(item.title || item.description) { %>
                    <% if(item.url) {%>
                        <a href="<%=item.url%>" target="<%=item.target?item.target:''%>">
                    <% } %>
                    <div class="carousel-caption" style="background: rgba(100,100,100,0.5);">
                        <% if(item.title) { %>
                        <h6 style="font-family: Arial, Helvetica, sans-serif;"><%=item.title%></h6>
                        <% } %>
                        <% if(item.description) { %>
                            <p style="text-align: center;"><%=item.description%></p>
                        <% } %>
                    </div>
                    <% if(item.url) {%>
                        </a>
                    <% } %>

                    <% } %>
                </div> 
            <% }) %> 
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Següent</span>
            </a>
        </div>
        <br>
        <div class="alert alert-primary"><h6><i class="fa fa-address-card"></i> Presentació</h6></div>
   

<p>
    
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoKPHN2ZwogICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiCiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiCiAgIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIgogICB3aWR0aD0iNzIuNjM1MDk0bW0iCiAgIGhlaWdodD0iNDEuNzM5NjgxbW0iCiAgIHZpZXdCb3g9IjAgMCAyNTcuMzY4NDQgMTQ3Ljg5NjUxIgogICBpZD0ic3ZnMiIKICAgdmVyc2lvbj0iMS4xIgogICBpbmtzY2FwZTp2ZXJzaW9uPSIwLjkxIHIxMzcyNSIKICAgc29kaXBvZGk6ZG9jbmFtZT0ibG9nby1pYXFzZS5zdmciPgogIDxkZWZzCiAgICAgaWQ9ImRlZnM0IiAvPgogIDxzb2RpcG9kaTpuYW1lZHZpZXcKICAgICBpZD0iYmFzZSIKICAgICBwYWdlY29sb3I
        9IiNmZmZmZmYiCiAgICAgYm9yZGVyY29sb3I9IiM2NjY2NjYiCiAgICAgYm9yZGVyb3BhY2l0eT0iMS4wIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwLjAiCiAgICAgaW5rc2NhcGU6cGFnZXNoYWRvdz0iMiIKICAgICBpbmtzY2FwZTp6b29tPSIyLjQyNDEzMDEiCiAgICAgaW5rc2NhcGU6Y3g9IjQwMC4wNDQ5NCIKICAgICBpbmtzY2FwZTpjeT0iLTgxLjIwMjcyNyIKICAgICBpbmtzY2FwZTpkb2N1bWVudC11bml0cz0icHgiCiAgICAgaW5rc2NhcGU6Y3VycmVudC1sYXllcj0ibGF5ZXIxIgogICAgIHNob3dncmlkPSJmYWxzZSIKICAgICBmaXQtbWFyZ2luLXRvcD0iMCIKICAgICBmaXQtbWFyZ2luLWxlZnQ9IjAiCiAgICAgZml0LW1hcmdpbi1yaWdodD0iMCIKICAgICBmaXQtbWFyZ2luLWJvdHRvbT0iMCIKICAgICBpbmtzY2FwZTp3aW5kb3ctd2lkdGg9IjI1NjAiCiAgICAgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iMTMwOSIKICAgICBpbmtzY2FwZTp3aW5kb3cteD0iNTEiCiAgICAgaW5rc2NhcGU6d2luZG93LXk9IjAiCiAgICAgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMCIgLz4KICA8bWV0YWRhdGEKICAgICBpZD0ibWV0YWRhdGE3Ij4KICAgIDxyZGY6UkRGPgogICAgICA8Y2M6V29yawogICAgICAgICByZGY6YWJvdXQ9IiI+CiAgICAgICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+CiAgICAgICAgPGRjOnR5cGUKICAgICAgICAgICByZGY6cmVzb3VyY2U9Imh0dHA6Ly
        9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIiAvPgogICAgICAgIDxkYzp0aXRsZT48L2RjOnRpdGxlPgogICAgICA8L2NjOldvcms+CiAgICA8L3JkZjpSREY+CiAgPC9tZXRhZGF0YT4KICA8ZwogICAgIGlua3NjYXBlOmxhYmVsPSJDYXBhIDEiCiAgICAgaW5rc2NhcGU6Z3JvdXBtb2RlPSJsYXllciIKICAgICBpZD0ibGF5ZXIxIgogICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01LjMyOTU4NzEsLTIuODA2MjI5KSI+CiAgICA8ZwogICAgICAgaWQ9ImczNDQzIgogICAgICAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM2My41NjYzNywtMjcuNTQ3MDI1KSI+CiAgICAgIDxwYXRoCiAgICAgICAgIHN0eWxlPSJmaWxsOiM0NTY5OGUiCiAgICAgICAgIGQ9Im0gNDY4Ljc4NTk2LDE3Ni45ODIxMyBjIC00LjkxODU1LC0xLjc1ODE1IC0xMC4xMzg5MiwtNS45MDg5OSAtMTMuNDYxNjEsLTEwLjcwMzY0IGwgLTIuNzc5ODQsLTQuMDExMzEgLTMuMDg0MTcsMC43OTMwNCBjIC0xLjY5NjMsMC40MzYxNiAtOC4yNTkxOCwwLjc4NTcyIC0xNC41ODQxOCwwLjc3Njc4IC0xMC4xMzY4OCwtMC4wMTQzIC0xMi4yNDQyNCwtMC4zMjc4OCAtMTcuNzc4NzksLTIuNjQ1MzggLTE0LjM4OTMxLC02LjAyNTI5IC0yNS43MjkyLC0xNS40NDY0NyAtMzcuMjg4MzcsLTMwLjk3OTE5IC0xMS42Njg4OCwtMTUuNjgwMTIgLTEzLjA5NywtMjIuMTY3MzkgLTguNDI3MzQsLTM4LjI4MTM5MiA2LjkwNjIyLC0yMy44MzE5MzQgMTguNjg5NTgsL
        TM5LjExODgzMSAzNS4yNTE0OCwtNDUuNzMyNzYyIDUuMDQzODksLTIuMDE0MjU5IDcuMzg2NDYsLTIuMjgzNTExIDE5LjI0MzAyLC0yLjIxMTc2OCA3LjQyNSwwLjA0NDkzIDE0LjgyNTkzLDAuNTA5MjY1IDE2LjQ0NjUyLDEuMDMxODYgbCAyLjk0NjUyLDAuOTUwMTc0IC0yMC44OTk0OSw4LjkyMzc0NCBjIC0yMi42Nzk1NCw5LjY4MzggLTI5LjkwNTMsMTMuNzk4NjQyIC0zNS44NTYyMiwyMC40MTg5NzYgLTUuNjA3NDEsNi4yMzgxNzkgLTcuOTEzOTMsMTIuMTQyMzkzIC04LjQyNzY2LDIxLjU3MzA1MiAtMC43NTM3MiwxMy44MzYyMDYgNC4wNzcxNCwyOC40MjQzNzYgMTIuMzgzODksMzcuMzk2NjQ2IDExLjQzNzgxLDEyLjM1NDIgMzUuNTMzOTcsMjAuNTk2NzggNTEuMTA3LDE3LjQ4MjE4IGwgMi45NTA1NSwtMC41OTAxMSAtMS45MjA0NywtNS45MzAxNSAtMS45MjA0NywtNS45MzAxNCAtMy40Mzk4OCwzLjAyMDI2IGMgLTMuNDg5NTYsMy4wNjM4NyAtOC4wMjIzNSwzLjk2ODE5IC05Ljk5NjIzLDEuOTk0MyAtMS4xNDMzMywtMS4xNDMzMiAxNi4xMDg3MiwtMTkuNDExNzQgMTcuNTEyNDcsLTE4LjU0NDE4IDAuNDM5MzQsMC4yNzE1MyAzLjYyOTA2LDQuNzg1ODkgNy4wODgyNywxMC4wMzE5MSAzLjQ1OTIsNS4yNDYwMiA2Ljc5ODUxLDkuNTM4MjIgNy40MjA2OCw5LjUzODIyIDIuMzk4NDcsMCAxMi40NTU0NCwtNy42NzkwNiAyMC4xODcxNCwtMTUuNDEzOTkgMjAuNDExMjksLTIwLjQxOTg2IDE5LjE4OTI4LC0zOS4x
        ODI1NTcgLTMuOTQ1OTgsLTYwLjU4NjAwNiAtNC40NTg3NiwtNC4xMjUgLTE0LjE1Njg4LC0xMy40MTgxMTIgLTIxLjU1MTM4LC0yMC42NTEzNTkgbCAtMTMuNDQ0NTQsLTEzLjE1MTM1OSAxLjcwMjY5LC0yLjU5ODY0MSBjIDAuOTM2NDgsLTEuNDI5MjUzIDIuNDUzNjUsLTIuNTk4NjQxIDMuMzcxNDgsLTIuNTk4NjQxIDIuMzI2MDgsMCAxMy45NzEzOSw3LjA2MjUzMSAyMS40OTQzNSwxMy4wMzU2OCAyMS45NjU4MSwxNy40NDA2MjMgMzQuNTk3MjUsNDQuNjc3NjEzIDMzLjYxMjQ1LDcyLjQ3ODA1NiAtMC4zMTE4Myw4LjgwMzA0IC0wLjY5MzE1LDEwLjU5MTIxIC0zLjE1MzksMTQuNzkwMTYgLTMuMDU1MDgsNS4yMTMxIC0xMi44NTE1NSwxMy41Mjg2MyAtMjQuNDQxMDcsMjAuNzQ2MyAtMy45Mjk4MSwyLjQ0NzM5IC03LjE2MzQ3LDQuOTIyMTIgLTcuMTg1OTEsNS40OTk0MSAtMC4wNjg4LDEuNzY5MjIgOS4yMjA0NCwxMi42NjY1MyAxMy43MjgxNywxNi4xMDQ2OSBsIDQuMjU0NjgsMy4yNDUxNiAtMy43NjE4MywxLjA0NDY5IGMgLTQuOTA2NzMsMS4zNjI2NCAtOC45MjMyOSwxLjI2NzggLTEzLjM1MjAzLC0wLjMxNTI3IHogbSAtNDQuNDA5OCwtNjAuNTk0NzUgYyAtNS4wMTc2MiwtMi40MTA4OSAtNy42NzEwMywtNC43MjM3NSAtMTAuOTMxNzYsLTkuNTI4NzEgLTYuMTk0MzMsLTkuMTI3ODUgLTAuNjg3ODYsLTE2LjY4NDI5MyAxOS4wNDc0NiwtMjYuMTM4NTI2IDUuMDEzNjQsLTIuNDAxNzg5IDkuNjQxMSwtNC4zNjY
        4OSAxMC4yODMyNSwtNC4zNjY4OSAyLjEyMjg0LDAgMTAuNjY0MTQsNC43ODk0NDMgMTMuODUyMDUsNy43NjczOTcgMy42NjQ1NSwzLjQyMzIwNSA0LjczNzc0LDYuODEzODg0IDMuNzc3MjEsMTEuOTMzOTI4IC0wLjUyMjMsMi43ODQxMTUgLTIuNDgxODcsNS40NzgxNDEgLTcuOTk0MTYsMTAuOTkwNDMxIC0xMC45NDk1NSwxMC45NDk1NSAtMTkuMDYyMzYsMTMuNjUzMTUgLTI4LjAzNDA1LDkuMzQyMzcgeiIKICAgICAgICAgaWQ9InBhdGgzNDQ5IgogICAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIiAvPgogICAgICA8cGF0aAogICAgICAgICBzdHlsZT0iZmlsbDojY2IzMzAxIgogICAgICAgICBkPSJtIDQ2Ny4yOTg0NCwxNzUuOTM0ODIgYyAtNC4wOTUxNCwtMS43ODMxNyAtOS44NTM0OCwtNi45MjUxNyAtMTIuNDM3NTksLTExLjEwNjM1IGwgLTIuMDkyLC0zLjM4NDkyIC0yLjY5NjM0LDEuMDgxNjUgYyAtNC4wMzA3NiwxLjYxNjk1IC0yMS44NTY2NiwxLjU2NDcxIC0yNy42OTYzNSwtMC4wODEyIC0xMC44NzI1NCwtMy4wNjQzNSAtMjMuMTM2NTgsLTEwLjc5MTgzIC0zMi4xMzMyNiwtMjAuMjQ2OTIgLTYuMDk1MDgsLTYuNDA1NjYgLTE1LjIwMzY3LC0xOC42MDM5MSAtMTguMTY4MTIsLTI0LjMzMDggLTMuODUyNjEsLTcuNDQyNjggLTMuNTU5NTQsLTE2Ljc5MTE4IDAuOTQwODksLTMwLjAxMzA2NiA4LjAwMzI3LC0yMy41MTI5ODcgMTkuNzk4MTMsLTM2LjkzNjU5NCAzNy4wNzYwNywtNDIuMT
        k1OTA1IDUuNjY4NzYsLTEuNzI1NTQgMjQuMjcxODEsLTIuMDUzOTA1IDMwLjc1NTUyLC0wLjU0Mjg3IGwgMy40NzExLDAuODA4OTQ0IC0yMC45NTU3OCw4Ljk0NzcyMSBDIDM5NS4xMDU4Miw2Ni45MzYyNSAzODguMTg3LDcxLjc3ODMxMSAzODIuNzg2MTQsODMuMjY4MTQ1IGMgLTQuODY2NjksMTAuMzUzNDM0IC00Ljc4MTk1LDIxLjEyNTY4NSAwLjI3OTY0LDM1LjU0OTgwNSA1LjU4MDE3LDE1LjkwMTkzIDE2LjUzOTc0LDI1LjQyODQxIDM2LjE2NTcxLDMxLjQzNjYzIDcuMDA5NCwyLjE0NTgzIDIzLjczNDEyLDIuOTY0MTkgMjYuMzY4OSwxLjI5MDI3IDAuOTQ4NzEsLTAuNjAyNzQgMC44NDY0OSwtMi4wMDU4OCAtMC40NTQyMSwtNi4yMzQ2OSAtMC45MjMxMywtMy4wMDEzIC0xLjc2OTY4LC01LjYwMjU1IC0xLjg4MTIxLC01Ljc4MDU2IC0wLjExMTUzLC0wLjE3ODAxIC0yLjExMjE1LDEuMDU5NDkgLTQuNDQ1ODMsMi43NSAtNC40MzI0NCwzLjIxMDg0IC03Ljc0NjgyLDMuODY5ODEgLTkuNjkwMDMsMS45MjY2IC0wLjg2MjcyLC0wLjg2MjczIC0wLjIwNjM5LC0xLjgyODQ1IDIuNjQ3OTIsLTMuODk2MSAyLjA4NzIzLC0xLjUxMTk4IDUuNTUwOSwtNC45MzMzMSA3LjY5NzA0LC03LjYwMjk1IDQuMDE1LC00Ljk5NDM0IDUuMzg3NywtNi4zMTIwNCA2LjYwMzIyLC02LjMzODU4IDAuMzg1NjIsLTAuMDA4IDMuNzI4MzYsNC4zNzIxOCA3LjQyODMxLDkuNzM0NjggMy42OTk5NSw1LjM2MjUgNi44NjY1NSw5LjkzMjExIDcuM
        DM2ODksMTAuMTU0NjggMC41NDU3NiwwLjcxMzEzIDEzLjY1NDc0LC04LjQ1Mzk1IDE5LjA0NTkxLC0xMy4zMTg3NyA1Ljg0NTk4LC01LjI3NTIxIDEzLjM5NDU0LC0xNi4xMTU0MiAxNS4yNjM1LC0yMS45MTkzNCAyLjA1MTAyLC02LjM2OTI4IDAuOTY4MDQsLTE3LjIyMDA1IC0yLjQxMTk4LC0yNC4xNjY1NjYgLTMuMTM1NzcsLTYuNDQ0NTE2IC04Ljg4MTM0LC0xMi41MjUzNDIgLTM0LjMyMTEsLTM2LjMyMzcyNiAtMTQuODgwMzEsLTEzLjkyMDIzMiAtMTYuNzAyNywtMTYuNzg5MzMzIC0xMi4xOTYxNywtMTkuMjAxMTU2IDEuNjg3MTcsLTAuOTAyOTQ3IDMuMTU2MywtMC40NzQ2MTQgOC4zNjczMSwyLjQzOTU1IDI2LjI0NzQyLDE0LjY3ODM5NSA0MS44NTU2NiwzNi42NDMxNzkgNDcuMDIwMzEsNjYuMTY5NjA5IDMuNDYwMjcsMTkuNzgyNDg5IDEuMzg5LDI4Ljc3NzA2OSAtOC43NDUyOCwzNy45NzY2NTkgLTYuMTYzNDksNS41OTUwMyAtMjIuOTc1ODMsMTcuNDM5MDYgLTI0Ljc1NDM2LDE3LjQzOTA2IC0wLjUxMzk2LDAgLTAuOTM0NDcsMC40MDU0MSAtMC45MzQ0NywwLjkwMDkyIDAsMS44ODMwOCA5LjExODE0LDEyLjkyMzU4IDEzLjQ3OTgyLDE2LjMyMTczIDMuNTIzMTUsMi43NDQ4NiA0LjE5MzM5LDMuNjg4NzcgMi45NTYzNCw0LjE2MzQ3IC0yLjgyMTA4LDEuMDgyNTUgLTEyLjgzNTUyLDAuNTc5NDIgLTE2LjAxMzg4LC0wLjgwNDU1IHogbSAtNDIuOTIyMjgsLTU5LjU0NzQ0IGMgLTUuMDE3NjIsLTIuNDEwODkg
        LTcuNjcxMDMsLTQuNzIzNzUgLTEwLjkzMTc2LC05LjUyODcxIC02LjE5NDMzLC05LjEyNzg1IC0wLjY4Nzg2LC0xNi42ODQyOTMgMTkuMDQ3NDYsLTI2LjEzODUyNiA1LjAxMzY0LC0yLjQwMTc4OSA5LjY0MTEsLTQuMzY2ODkgMTAuMjgzMjUsLTQuMzY2ODkgMi4xMjI4NCwwIDEwLjY2NDE0LDQuNzg5NDQzIDEzLjg1MjA1LDcuNzY3Mzk3IDMuNjY0NTUsMy40MjMyMDUgNC43Mzc3NCw2LjgxMzg4NCAzLjc3NzIxLDExLjkzMzkyOCAtMC41MjIzLDIuNzg0MTE1IC0yLjQ4MTg3LDUuNDc4MTQxIC03Ljk5NDE2LDEwLjk5MDQzMSAtMTAuOTQ5NTUsMTAuOTQ5NTUgLTE5LjA2MjM2LDEzLjY1MzE1IC0yOC4wMzQwNSw5LjM0MjM3IHoiCiAgICAgICAgIGlkPSJwYXRoMzQ0NyIKICAgICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIgLz4KICAgICAgPHBhdGgKICAgICAgICAgc3R5bGU9ImZpbGw6IzAwMzI2NSIKICAgICAgICAgZD0ibSA0NjcuMjk4NDQsMTc1LjkzNDgyIGMgLTQuMDk1MTQsLTEuNzgzMTcgLTkuODUzNDgsLTYuOTI1MTcgLTEyLjQzNzU5LC0xMS4xMDYzNSBsIC0yLjA5MiwtMy4zODQ5MiAtMi42OTYzNCwxLjA4MTY1IGMgLTQuMDMwNzYsMS42MTY5NSAtMjEuODU2NjYsMS41NjQ3MSAtMjcuNjk2MzUsLTAuMDgxMiAtMTAuODcyNTQsLTMuMDY0MzUgLTIzLjEzNjU4LC0xMC43OTE4MyAtMzIuMTMzMjYsLTIwLjI0NjkyIC02LjA5NTA4LC02LjQwNTY2IC0xNS4yMDM2NywtMTguNjAzOTEgLTE
        4LjE2ODEyLC0yNC4zMzA4IC0zLjg1MjYxLC03LjQ0MjY4IC0zLjU1OTU0LC0xNi43OTExOCAwLjk0MDg5LC0zMC4wMTMwNjYgOC4wMDMyNywtMjMuNTEyOTg3IDE5Ljc5ODEzLC0zNi45MzY1OTQgMzcuMDc2MDcsLTQyLjE5NTkwNSA1LjY2ODc2LC0xLjcyNTU0IDI0LjI3MTgxLC0yLjA1MzkwNSAzMC43NTU1MiwtMC41NDI4NyBsIDMuNDcxMSwwLjgwODk0NCAtMjAuOTU1NzgsOC45NDc3MjEgQyAzOTUuMTA1ODIsNjYuOTM2MjUgMzg4LjE4Nyw3MS43NzgzMTEgMzgyLjc4NjE0LDgzLjI2ODE0NSBjIC00Ljg2NjY5LDEwLjM1MzQzNCAtNC43ODE5NSwyMS4xMjU2ODUgMC4yNzk2NCwzNS41NDk4MDUgNS41ODAxNywxNS45MDE5MyAxNi41Mzk3NCwyNS40Mjg0MSAzNi4xNjU3MSwzMS40MzY2MyA3LjAwOTQsMi4xNDU4MyAyMy43MzQxMiwyLjk2NDE5IDI2LjM2ODksMS4yOTAyNyAwLjk0ODcxLC0wLjYwMjc0IDAuODQ2NDksLTIuMDA1ODggLTAuNDU0MjEsLTYuMjM0NjkgLTAuOTIzMTMsLTMuMDAxMyAtMS43Njk2OCwtNS42MDI1NSAtMS44ODEyMSwtNS43ODA1NiAtMC4xMTE1MywtMC4xNzgwMSAtMi4xMTIxNSwxLjA1OTQ5IC00LjQ0NTgzLDIuNzUgLTQuNDMyNDQsMy4yMTA4NCAtNy43NDY4MiwzLjg2OTgxIC05LjY5MDAzLDEuOTI2NiAtMC44NjI3MiwtMC44NjI3MyAtMC4yMDYzOSwtMS44Mjg0NSAyLjY0NzkyLC0zLjg5NjEgMi4wODcyMywtMS41MTE5OCA1LjU1MDksLTQuOTMzMzEgNy42OTcwNCwtNy42MDI5NSA0Lj
        AxNSwtNC45OTQzNCA1LjM4NzcsLTYuMzEyMDQgNi42MDMyMiwtNi4zMzg1OCAwLjM4NTYyLC0wLjAwOCAzLjcyODM2LDQuMzcyMTggNy40MjgzMSw5LjczNDY4IDMuNjk5OTUsNS4zNjI1IDYuODY2NTUsOS45MzIxMSA3LjAzNjg5LDEwLjE1NDY4IDAuNTQ1NzYsMC43MTMxMyAxMy42NTQ3NCwtOC40NTM5NSAxOS4wNDU5MSwtMTMuMzE4NzcgNS44NDU5OCwtNS4yNzUyMSAxMy4zOTQ1NCwtMTYuMTE1NDIgMTUuMjYzNSwtMjEuOTE5MzQgMi4wNTEwMiwtNi4zNjkyOCAwLjk2ODA0LC0xNy4yMjAwNSAtMi40MTE5OCwtMjQuMTY2NTY2IC0zLjEzNTc3LC02LjQ0NDUxNiAtOC44ODEzNCwtMTIuNTI1MzQyIC0zNC4zMjExLC0zNi4zMjM3MjYgLTE0Ljg4MDMxLC0xMy45MjAyMzIgLTE2LjcwMjcsLTE2Ljc4OTMzMyAtMTIuMTk2MTcsLTE5LjIwMTE1NiAxLjY4NzE3LC0wLjkwMjk0NyAzLjE1NjMsLTAuNDc0NjE0IDguMzY3MzEsMi40Mzk1NSAyNi4yNDc0MiwxNC42NzgzOTUgNDEuODU1NjYsMzYuNjQzMTc5IDQ3LjAyMDMxLDY2LjE2OTYwOSAzLjQ2MDI3LDE5Ljc4MjQ4OSAxLjM4OSwyOC43NzcwNjkgLTguNzQ1MjgsMzcuOTc2NjU5IC02LjE2MzQ5LDUuNTk1MDMgLTIyLjk3NTgzLDE3LjQzOTA2IC0yNC43NTQzNiwxNy40MzkwNiAtMC41MTM5NiwwIC0wLjkzNDQ3LDAuNDA1NDEgLTAuOTM0NDcsMC45MDA5MiAwLDEuODgzMDggOS4xMTgxNCwxMi45MjM1OCAxMy40Nzk4MiwxNi4zMjE3MyAzLjUyMzE1LDIuNzQ0ODYgNC4xO
        TMzOSwzLjY4ODc3IDIuOTU2MzQsNC4xNjM0NyAtMi44MjEwOCwxLjA4MjU1IC0xMi44MzU1MiwwLjU3OTQyIC0xNi4wMTM4OCwtMC44MDQ1NSB6IgogICAgICAgICBpZD0icGF0aDM0NDUiCiAgICAgICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiIC8+CiAgICA8L2c+CiAgICA8Zmxvd1Jvb3QKICAgICAgIHhtbDpzcGFjZT0icHJlc2VydmUiCiAgICAgICBpZD0iZmxvd1Jvb3QzNTUwIgogICAgICAgc3R5bGU9ImZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LXNpemU6NDBweDtsaW5lLWhlaWdodDoxMjUlO2ZvbnQtZmFtaWx5OnNhbnMtc2VyaWY7dGV4dC1hbGlnbjplbmQ7bGV0dGVyLXNwYWNpbmc6MHB4O3dvcmQtc3BhY2luZzowcHg7dGV4dC1hbmNob3I6ZW5kO2ZpbGw6IzAwMDAwMDtmaWxsLW9wYWNpdHk6MTtzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6MXB4O3N0cm9rZS1saW5lY2FwOmJ1dHQ7c3Ryb2tlLWxpbmVqb2luOm1pdGVyO3N0cm9rZS1vcGFjaXR5OjEiPjxmbG93UmVnaW9uCiAgICAgICAgIGlkPSJmbG93UmVnaW9uMzU1MiI+PHJlY3QKICAgICAgICAgICBpZD0icmVjdDM1NTQiCiAgICAgICAgICAgd2lkdGg9IjE1Mi4yNjQ4MiIKICAgICAgICAgICBoZWlnaHQ9IjE0MC4wMTM2MyIKICAgICAgICAgICB4PSIxOTcuMTg1ODciCiAgICAgICAgICAgeT0iMTk2LjUyODkiIC8+PC9mbG93UmVnaW9uPjxmbG93UGFyYQogICAgICAgICBpZD0iZmxvd1BhcmEzNTU2
        Ij48L2Zsb3dQYXJhPjwvZmxvd1Jvb3Q+ICAgIDx0ZXh0CiAgICAgICB4bWw6c3BhY2U9InByZXNlcnZlIgogICAgICAgc3R5bGU9ImZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LXNpemU6NDBweDtsaW5lLWhlaWdodDoxMzcuOTk5OTk5NTIlO2ZvbnQtZmFtaWx5OnNhbnMtc2VyaWY7dGV4dC1hbGlnbjpzdGFydDtsZXR0ZXItc3BhY2luZzowLjA3cHg7d29yZC1zcGFjaW5nOjBweDt0ZXh0LWFuY2hvcjpzdGFydDtmaWxsOiMwMDAwMDA7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjFweDtzdHJva2UtbGluZWNhcDpidXR0O3N0cm9rZS1saW5lam9pbjptaXRlcjtzdHJva2Utb3BhY2l0eToxIgogICAgICAgeD0iMTQ3Ljg0Nzk5IgogICAgICAgeT0iMjYuNTUxNzcxIgogICAgICAgaWQ9InRleHQzNTU4IgogICAgICAgc29kaXBvZGk6bGluZXNwYWNpbmc9IjEzOCUiPjx0c3BhbgogICAgICAgICBzb2RpcG9kaTpyb2xlPSJsaW5lIgogICAgICAgICBpZD0idHNwYW4zNTYwIgogICAgICAgICB4PSIxNDcuODQ3OTkiCiAgICAgICAgIHk9IjI2LjU1MTc3MSIKICAgICAgICAgc3R5bGU9ImZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFudDpub3JtYWw7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LXN0cmV0Y2g6bm9ybWFsO2ZvbnQtc2l6ZToyMS4yNXB4O2ZvbnQtZmFtaWx5OlZlcmRhbmE7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonVmVyZGFuYSBCb2xkJzt0ZXh
        0LWFsaWduOnN0YXJ0O2xldHRlci1zcGFjaW5nOjAuMDdweDt0ZXh0LWFuY2hvcjpzdGFydCI+PHRzcGFuCiAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zdHJldGNoOm5vcm1hbDtmb250LXNpemU6MjEuMjVweDtmb250LWZhbWlseTpWZXJkYW5hOy1pbmtzY2FwZS1mb250LXNwZWNpZmljYXRpb246J1ZlcmRhbmEgQm9sZCc7dGV4dC1hbGlnbjpzdGFydDtsZXR0ZXItc3BhY2luZzowLjA3cHg7dGV4dC1hbmNob3I6c3RhcnQ7ZmlsbDojZmYwMDAwIgogICBpZD0idHNwYW4zNTYyIj5JPC90c3Bhbj5uczx0c3BhbgogICBzdHlsZT0ibGluZS1oZWlnaHQ6MTM3Ljk5OTk5OTUyJTtsZXR0ZXItc3BhY2luZzowLjA0cHgiCiAgIGlkPSJ0c3BhbjM2OTkiPnRpdHV0PC90c3Bhbj48L3RzcGFuPjx0c3BhbgogICAgICAgICBzb2RpcG9kaTpyb2xlPSJsaW5lIgogICAgICAgICB4PSIxNDcuODQ3OTkiCiAgICAgICAgIHk9IjU1Ljg3Njc3IgogICAgICAgICBzdHlsZT0iZm9udC1zdHlsZTpub3JtYWw7Zm9udC12YXJpYW50Om5vcm1hbDtmb250LXdlaWdodDpib2xkO2ZvbnQtc3RyZXRjaDpub3JtYWw7Zm9udC1zaXplOjIxLjI1cHg7bGluZS1oZWlnaHQ6MTM3Ljk5OTk5OTUyJTtmb250LWZhbWlseTpWZXJkYW5hOy1pbmtzY2FwZS1mb250LXNwZWNpZmljYXRpb246J1ZlcmRhbmEgQm9sZCc7dGV4dC1hbGlnbjpzdGFydDtsZXR0ZXItc3BhY2luZzowLj
        A0cHg7dGV4dC1hbmNob3I6c3RhcnQiCiAgICAgICAgIGlkPSJ0c3BhbjM2NDEiPjx0c3BhbgogICBzdHlsZT0iZm9udC1zdHlsZTpub3JtYWw7Zm9udC12YXJpYW50Om5vcm1hbDtmb250LXdlaWdodDpib2xkO2ZvbnQtc3RyZXRjaDpub3JtYWw7Zm9udC1zaXplOjIxLjI1cHg7bGluZS1oZWlnaHQ6MTM3Ljk5OTk5OTUyJTtmb250LWZhbWlseTpWZXJkYW5hOy1pbmtzY2FwZS1mb250LXNwZWNpZmljYXRpb246J1ZlcmRhbmEgQm9sZCc7bGV0dGVyLXNwYWNpbmc6MC4wNHB4O2ZpbGw6I2ZmMDAwMCIKICAgaWQ9InRzcGFuMzY0OSI+QTwvdHNwYW4+dmFsdWFjacOzPC90c3Bhbj48dHNwYW4KICAgICAgICAgc29kaXBvZGk6cm9sZT0ibGluZSIKICAgICAgICAgeD0iMTQ3Ljg0Nzk5IgogICAgICAgICB5PSI4NS4yMDE3NzUiCiAgICAgICAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zdHJldGNoOm5vcm1hbDtmb250LXNpemU6MjEuMjVweDtsaW5lLWhlaWdodDoxMzcuOTk5OTk5NTIlO2ZvbnQtZmFtaWx5OlZlcmRhbmE7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonVmVyZGFuYSBCb2xkJzt0ZXh0LWFsaWduOnN0YXJ0O2xldHRlci1zcGFjaW5nOjAuMDRweDt0ZXh0LWFuY2hvcjpzdGFydCIKICAgICAgICAgaWQ9InRzcGFuMzY0MyI+PHRzcGFuCiAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2Zvb
        nQtd2VpZ2h0OmJvbGQ7Zm9udC1zdHJldGNoOm5vcm1hbDtmb250LXNpemU6MjEuMjVweDtsaW5lLWhlaWdodDoxMzcuOTk5OTk5NTIlO2ZvbnQtZmFtaWx5OlZlcmRhbmE7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonVmVyZGFuYSBCb2xkJztsZXR0ZXItc3BhY2luZzowLjA0cHg7ZmlsbDojZmYwMDAwIgogICBpZD0idHNwYW4zNjUxIj5RPC90c3Bhbj51YWxpdGF0PC90c3Bhbj48dHNwYW4KICAgICAgICAgc29kaXBvZGk6cm9sZT0ibGluZSIKICAgICAgICAgeD0iMTQ3Ljg0Nzk5IgogICAgICAgICB5PSIxMTQuNTI2NzciCiAgICAgICAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zdHJldGNoOm5vcm1hbDtmb250LXNpemU6MjEuMjVweDtsaW5lLWhlaWdodDoxMzcuOTk5OTk5NTIlO2ZvbnQtZmFtaWx5OlZlcmRhbmE7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonVmVyZGFuYSBCb2xkJzt0ZXh0LWFsaWduOnN0YXJ0O2xldHRlci1zcGFjaW5nOjAuMDRweDt0ZXh0LWFuY2hvcjpzdGFydCIKICAgICAgICAgaWQ9InRzcGFuMzY0NSI+PHRzcGFuCiAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zdHJldGNoOm5vcm1hbDtmb250LXNpemU6MjEuMjVweDtsaW5lLWhlaWdodDoxMzcuOTk5OTk5NTIlO2ZvbnQtZmFtaWx5OlZlcmRhbmE7LWlua3NjYXBl
        LWZvbnQtc3BlY2lmaWNhdGlvbjonVmVyZGFuYSBCb2xkJztsZXR0ZXItc3BhY2luZzowLjA0cHg7ZmlsbDojZmYwMDAwIgogICBpZD0idHNwYW4zNjUzIj5TPC90c3Bhbj5pc3RlbWE8L3RzcGFuPjx0c3BhbgogICAgICAgICBzb2RpcG9kaTpyb2xlPSJsaW5lIgogICAgICAgICB4PSIxNDcuODQ3OTkiCiAgICAgICAgIHk9IjE0My44NTE3OCIKICAgICAgICAgc3R5bGU9ImZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFudDpub3JtYWw7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LXN0cmV0Y2g6bm9ybWFsO2ZvbnQtc2l6ZToyMS4yNXB4O2ZvbnQtZmFtaWx5OlZlcmRhbmE7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonVmVyZGFuYSBCb2xkJzt0ZXh0LWFsaWduOnN0YXJ0O2xldHRlci1zcGFjaW5nOjAuMDdweDt0ZXh0LWFuY2hvcjpzdGFydCIKICAgICAgICAgaWQ9InRzcGFuMzY0NyI+PHRzcGFuCiAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zdHJldGNoOm5vcm1hbDtmb250LXNpemU6MjEuMjVweDtsaW5lLWhlaWdodDoxMzcuOTk5OTk5NTIlO2ZvbnQtZmFtaWx5OlZlcmRhbmE7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonVmVyZGFuYSBCb2xkJztsZXR0ZXItc3BhY2luZzowLjA0cHg7ZmlsbDojZmYwMDAwIgogICBpZD0idHNwYW4zNjU1Ij5FPC90c3Bhbj48dHNwYW4KICAgc3R5bGU9ImxpbmUtaGVpZ2h0OjEzNy45OTk
        5OTk1MiU7bGV0dGVyLXNwYWNpbmc6MC4wNHB4IgogICBpZD0idHNwYW4zNzAxIj5kdWM8L3RzcGFuPmF0aXU8L3RzcGFuPjwvdGV4dD4KICA8L2c+Cjwvc3ZnPgo=" class="iaqse-logo float-left"/>

        
    L'Institut d'Avaluació i Qualitat del Sistema Educatiu de les Illes Balears -IAQSE- és l'òrgan de coordinació,
    de consulta i tècnic de la Conselleria d'Educació i Universitat, que actua sota la dependència directa de la
    Direcció General de Planificació, Ordenació i Centres, amb l'objectiu de dur a terme tasques d'anàlisi i
    avaluació externa del sistema educatiu de les Illes Balears.</p>
    
    <p>Aquest Institut és també l'òrgan encarregat de proporcionar informació rellevant sobre el grau de qualitat
    del sistema educatiu de les Illes Balears a l'Administració educativa, als òrgans de participació institucional,
    als diferents sectors de la comunitat educativa i a la societat en general.</p>
    
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="alert alert-primary"><h6 style="margin-top: 5px;"><i class="fa fa-star"></i> Destacats</h6></div>
        <div class="list-group">
        <!--destacats definits per usuari-->
        <% inici.destacats.forEach( item => { %>
            <div class="list-group-item-hover list-group-item clearfix">
                <div class=" alert alert-warning">
                <a href="<%=item.url%>" target="_blank">
                    <% if(item.img) { %>
                    <img src="../<%=item.img%>" class="float-left" style="height:50px;margin-right:10px"/>
                    <% } %>
                    <p><%=item.title%></p>
                    <p style="font-size: 90%;"><%=item.description%></p>
                </a>
            </div>
            </div>
        <% }) %>
        <!--Destacats generats automàticament-->
        <% destacats.forEach( item => { %>
            <div class="list-group-item-hover list-group-item clearfix">
                <a href="../<%=item.url%>" target="_blank">
                    <% if(item.img) { %>
                    <img src="../<%=item.img%>" class="float-left" style="height:50px;margin-right:10px"/>
                    <% } %>
                    <p style="text-align: left;"><%=item.title%></p>
                </a>
            </div>
        <% }) %>
    </div>
    </div>
</div>

<script>
    $(function(){
        $('#tree1').treed();
    });
</script>