<div class="row">

    <div class="col-md-7">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <% inici.carousel.forEach( (item, idx) => { %>
                <li data-target="#carouselIndicators" data-slide-to="<%=idx%>" <% if(idx==0) { %>class="active" <% } %>>
                </li>
                <% }) %>
            </ol>
            <div class="carousel-inner">
                <% inici.carousel.forEach( (item, idx) => { %>
                <div class="carousel-item <% if(idx==0) { %>active<% } %>">
                    <img class="d-block w-100" src="../<%=item.img%>" alt="Imatge <%=idx+1%>">
                    <% if(item.title || item.description) { %>
                    <% if(item.url) {%>
                    <a href="<%=item.url%>" target="<%=item.target?item.target:''%>">
                        <% } %>
                        <div class="carousel-caption" style="background: rgba(100,100,100,0.5);">
                            <% if(item.title) { %>
                            <h6 style="font-family: Arial, Helvetica, sans-serif;"><%=item.title%></h6>
                            <% } %>
                            <% if(item.description) { %>
                            <p style="text-align: center;"><%=item.description%></p>
                            <% } %>
                        </div>
                        <% if(item.url) {%>
                    </a>
                    <% } %>

                    <% } %>
                </div>
                <% }) %>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Següent</span>
            </a>
        </div>
        <br>
        <div class="alert alert-primary">
            <h6><i class="fa fa-address-card"></i> Presentació</h6>
        </div>


        <p>

            <img id="logo-iaqse" class="iaqse-logo float-left" />


            L'Institut d'Avaluació i Qualitat del Sistema Educatiu de les Illes Balears -IAQSE- és l'òrgan de
            coordinació,
            de consulta i tècnic de la Conselleria d'Educació i Universitat, que actua sota la dependència directa de la
            Direcció General de Planificació, Ordenació i Centres, amb l'objectiu de dur a terme tasques d'anàlisi i
            avaluació externa del sistema educatiu de les Illes Balears.</p>

        <p>Aquest Institut és també l'òrgan encarregat de proporcionar informació rellevant sobre el grau de qualitat
            del sistema educatiu de les Illes Balears a l'Administració educativa, als òrgans de participació
            institucional,
            als diferents sectors de la comunitat educativa i a la societat en general.</p>

    </div>
    <div class="col-md-5">
        <div class="alert alert-primary">
            <h6 style="margin-top: 5px;"><i class="fa fa-star"></i> Destacats</h6>
        </div>
        <div class="list-group">
            <!--destacats definits per usuari-->
            <% inici.destacats.forEach( item => { %>
            <div class="list-group-item-hover list-group-item clearfix">
                <div class=" alert alert-warning">

                        <div style="display: flex; align-items: center;">
                                <div style="float: left; width: 90px">
                                    <a href="../<%=item.url%>" target="_blank">
                                        <% if(item.img) { %>
                                        <img src="../<%=item.img%>" style="width:55px;" />
                                        <% } %>
                                    </a>
                                </div>
                                <div style="float: left; margin-left:10px">
                                        <p style="text-align: left;">
                                    <a href="../<%=item.url%>" target="_blank">
                                         <%=item.title%><br>
                                         <%=item.description%>
                                    </a>
                                </p>
                                </div>
                        </div>
                </div>
            </div>
            <% }) %>
            <!--Destacats generats automàticament-->
            <% destacats.forEach( item => { %>
            <div class="list-group-item-hover list-group-item">
                <div style="display: flex; align-items: center;">
                    <div style="float: left; width: 90px">
                        <a href="../<%=item.url%>" target="_blank">
                            <% if(item.img) { %>
                            <img src="../<%=item.img%>" style="width:55px;" />
                            <% } %>
                        </a>
                    </div>
                    <div style="float: left; margin-left:10px">
                            <p style="text-align: left;">
                        <a href="../<%=item.url%>" target="_blank">
                             <%=item.title%>
                        </a>
                    </p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>